@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YeojuCeramic';
  src: url('/app/fonts/YeojuCeramic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* 시장, 특산물 페이지 필터 버튼 css */
.filter-button-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.filter-button-container::-webkit-scrollbar {
  display: none;
}

/* 메인 시장 슬라이드 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  width: 164px !important;
  background-color: #e8c18e;
  border-radius: 8px;
  padding: 5px 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50% !important;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
  background-color: #755428 !important;
  width: 64px !important;
  border-radius: 4px !important;
}

.swiper-pagination-bullet {
  background-color: #bd873f !important;
}
