@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YeojuCeramic;
  src: url('../fonts/YeojuCeramic.ttf');
}

*::-webkit-scrollbar {
  background-color: #faf8f5;
  width: 0.8rem;
}

/* 스크롤바 막대 꾸미기 */
*::-webkit-scrollbar-thumb {
  background-color: #9c6d2e;
  border-radius: 4px;
}

/* 스크롤바 트랙 꾸미기 */
*::-webkit-scrollbar-track {
  background-color: #f6e5ce;
  border-radius: 4px;
}

*::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0.5rem;
}

/* 시장, 특산물 페이지 필터 버튼 css */
.filter-button-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.filter-button-container::-webkit-scrollbar {
  display: none;
}

/* 슬라이드 공통 css */
.swiper {
  width: 100%;
  height: 100%;
  /* overflow: visible !important; */
}

.swiper-slide {
  text-align: left;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  width: 204px !important;
  background-color: rgba(232, 193, 142, 0.64) !important;
  border-radius: 8px;
  padding: 5px 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50% !important;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
  background-color: rgb(117, 84, 40) !important;
  width: 64px !important;
  border-radius: 4px !important;
}

.swiper-pagination-bullet {
  background-color: rbg(189, 135, 63) !important;
}

/* pc 특산물 디테일 슬라이드 */
.swiper-slide {
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  margin-top: 12px;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #9c6d2e;
}
