@tailwind base;
@tailwind components;
@tailwind utilities;

/* 시장, 특산물 페이지 필터 버튼 css */
.filter-button-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.filter-button-container::-webkit-scrollbar {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
